{% load i18n static %}
<div class="related-widget-wrapper">
    {{ widget }}
    {% block links %}
        {% if can_change_related %}
        <a class="related-widget-wrapper-link change-related" id="change_id_{{ name }}"
            data-href-template="{{ change_related_template_url }}?{{ url_params }}"
            title="{% blocktrans %}更改所选模型：{{ model }}{% endblocktrans %}">
            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="{% trans '更改' %}"/>
        </a>
        {% endif %}
        {% if can_add_related %}
        <a class="related-widget-wrapper-link add-related" id="add_id_{{ name }}"
            href="{{ add_related_url }}?{{ url_params }}"
            title="{% blocktrans %}添加模型：{{ model }}{% endblocktrans %}">
            <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="{% trans '添加' %}"/>
        </a>
        {% endif %}
        {% if can_delete_related %}
        <a class="related-widget-wrapper-link delete-related" id="delete_id_{{ name }}"
            data-href-template="{{ delete_related_template_url }}?{{ url_params }}"
            title="{% blocktrans %}删除所选模型：{{ model }}{% endblocktrans %}">
            <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="{% trans '删除' %}"/>
        </a>
        {% endif %}
    {% endblock %}
</div>
