{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_content %}
    {% if form.errors %}
            <div class="alert alert-warning">
            <p>{% blocktrans count form.errors.items|length as counter %}请更正以下错误{% plural %}请更正以下错误{% endblocktrans %}</p>
        </div>
    {% endif %}
    <div>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-info">
                {% trans "请输入旧密码，并重复输入新密码以验证您输入正确" %}
            </div>
        </div>
        {% for field in form %}
            {% include 'registration/form_field.html' %}
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">{% trans '更改密码' %}</button>
              &nbsp;<button type="reset" class="btn">{% trans '取消' %}</button>
            </div>
        </div>
    </form>
    </div>

{% endblock %}