{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_content %}
    {% if validlink %}
        {% if form.errors %}
            <div class="alert alert-warning">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p>{% blocktrans count form.errors.items|length as counter %}请更正以下错误{% plural %}请更正以下错误{% endblocktrans %}</p>
            </div>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
            <div class="clearfix">
                <div class="input">
                    {% trans "请重复输入您的新密码，以验证您输入正确" %}
                </div>
            </div>
            {% for field in form %}
                {% include 'registration/form_field.html' %}
            {% endfor %}
            <div class="actions">
                <input type="submit" class="btn btn-primary" value="{% trans '更改密码' %}">
            </div>
        </form>
    {% else %}
        <h3>{% trans '密码重置失败' %}</h3>
        <p>
            {% trans "密码重置链接失效，可能由于其已被使用。请重新请求更改密码。" %}
        </p>
    {% endif %}
{% endblock %}