{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_content %}
    {% if form.errors %}
        <div class="alert alert-warning">
            <p>{% blocktrans count form.errors.items|length as counter %}请更正以下错误{% plural %}请更正以下错误{% endblocktrans %}</p>
        </div>
    {% endif %}
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
        {% for field in form %}
            {% include 'registration/form_field.html' %}
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id='submit' class="btn btn-primary" type="submit" data-loading-text="{% trans '加载中' %}..." accesskey="Enter">{% trans '重置密码' %}</button>
            </div>
        </div>
    </form>
{% endblock %}
